<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'qprint/styles.css' %}">
</head>
<body>
    <header>
        <h1>Print Express</h1>
        <nav>
            <a href="{% url 'first_page' %}">Home</a>
            <a href="{% url 'about_page' %}">About</a>
        </nav>
    </header>
    <main class="container">
        <div class="card">
            <h2>Upload Your File</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload</button>
            </form>
            <a class="back-button" href="{% url 'select_printing_shop' college_id=college_id %}">Back</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Print Express. All rights reserved.</p>
    </footer>
</body>
</html>